@font-face {
  font-family: 'Ownglyph';
  src: url('./assets/font/Ownglyph_pdh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: auto; /* Allow the body to grow with content */
  min-height: 100vh; /* Ensure the body covers the viewport height */
  overflow-y: auto; /* Allow scrolling if content overflows */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f2df;
  color: black;
  font:
    16px 'Ownglyph',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* input, textarea 및 placeholder 태그 폰트 유지 */
input,
textarea {
  font-family:
    'Ownglyph',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px; /* 필요에 따라 크기 조정 */
  color: black; /* 텍스트 색상 */
}

/* placeholder 스타일 */
input::placeholder,
textarea::placeholder {
  font-family:
    'Ownglyph',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px; /* 필요에 따라 크기 조정 */
  color: #aaa; /* placeholder 색상 */
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
